h2  {
    color: #c5f1e9;
    background-color:rgb(255, 211, 211);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}

body {
    background: #c5e;
}